<p><%= tweet.text %></p>
<span class="name">
  <% if user_signed_in? %>
    <a href="/users/<%= tweet.user.id %>">
      <span>投稿者</span><%= tweet.user.nickname %>
    </a>
  <% else %>
    <a href="/users/sign_in">
      <span>投稿者</span><%= tweet.user.nickname %>
    </a>
  <% end %>   
</span>