  <% @tweets.each do |tweet| %>
    <div class="content-post">
      <p><%= tweet.text %></p>
      <span class="name">
        <a href="">
          <span>投稿者</span><%= tweet.user.nickname %>
        </a>
      </span>
    </div>
  <% end %>