<div class="followers">
  <h1><%= @user.nickname %>さんのフォロワー一覧</h1>
    <% @users.each do |user| %>
    <hr>
    <p class="f-user"><%= link_to user.nickname, user_path(user.id) %></p>
        <% if current_user != user && user.followed_by?(current_user) %>
            <p><%=link_to "フォロー中", user_relationships_path(user.id),class:"btn", method: :delete %></p>
        <% end %>
        <% if current_user != user && !user.followed_by?(current_user) %>
            <p><%=link_to "フォローする", user_relationships_path(user.id),class:"btn", method: :post %></p>
        <% end %>
    <% end %>
</div>