.header {
  padding: 20px 300px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 60px;
}

.header-contents {
  display: flex;
  justify-content:space-between;
}

.header-left {
  width: 120px;
}

.app-name {
  font-size: 30px;
  line-height: 25px;
}

.header-right {
  display: flex;
  justify-content:space-around;
  height: 40px;
  width: 350px;
  padding: 8px;
}


.app-name a {
  text-decoration: none;
}

.current-name {
  display: block;
  width: 120px;
  height: 40px;
  text-align: right;
  padding-top: 5px;
  text-decoration: none;
  font-size: 20px;
}



.btn {
  display: inline-block;
  text-align: left;
  margin-top: 5px;
  padding: 3px;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
}

.tweets {
  margin-top: 100px;
  height: 100vh;
  text-align: center;
}

.tweet {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  text-align: left;
  border-bottom: solid 2px #D8D8D8;
}

.tweet-name a {
  text-decoration: none;
  color: darkgray;
}

.footer {
  margin: 30px auto;
  padding: 10px;
}

.footer p {
  text-align: center;
}

.user-page {
  margin-top: 200px;
  height: 100vh;
  text-align: center;
}

.user-name {
  font-size: 30px;
}